@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.teaser{
    height: 898px;
}
.videoTitle{
    font-family: 'Karla', sans-serif;
}
.profile{
    height: 115px;
    width: 115px;
    border: 8px solid rgb(0, 183, 255);
    border-radius: 50%;
    transition: all 0.4s;
}
.profile:hover{
    border: 0px solid rgb(220, 244, 253);
}
.card_bottom{
    background: rgb(0, 183, 255);
}
.coordinator_link{
    transition: all 0.5s;
}
.coordinator_link:hover{
    background: blanchedalmond;
}
.phone {
    display: none;
}
.contactBox{
    max-width: 500px;
}


@media only screen and (max-width:450px){
    .teaser{
        height: 218px;
    }
}
@media only screen and (max-width:380px){
    .teaser{
        height: 198px;
    }
}