@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.name{
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.branch{
    font-size: 16px;
}
.contact{
    font-size: 15px;
}
.number{
    font-size: 16px;
}
.about{
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width:576px){
    .name{
        font-size: 22px;
    }
    .branch{
        font-size: 13px;
    }
    .contact{
        font-size: 12px;
    }
    .number{
        font-size: 14px;
    }
}