<body>
    <p>Hello <strong>{{ user }}</strong>,</p>

    <p>Welcome to the <strong>Choreography Club</strong>. Thankyou for contacting and visiting us. We have register your query and will soon inform you about that.<br/>For further any query you can write us the mail on <strong>choreographycell@gmail.com</strong><br/>Or you can contact us on the number <strong>9696712061</strong><br/><br/> We will be glad if you will visit us again.</p>

    <p>Thankyou,<br /><strong>Team Choreography Club</strong><br><strong>SRMGPC, Lucknow</strong></p>
</body>