{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<title>Contact | Choreography Club | SRMGPC</title>
{% endblock %}

{% block body %}
<div id="main" class="d-flex justify-content-center text-white p-lg-5 p-4 pt-5">
    <div class="container">
        <h3 class="text-center display-5 fw-bold">Contact us!</h3>
        <div class="d-flex w-100 justify-content-center">
            <div class="contactBox">
                <form action="{% url 'contactPage' %}" method="post" class="mt-lg-5 mt-4">
                    {% csrf_token %}
                    <input type="text" name="page" value="contact" hidden>
                    <div class="mb-4">
                        <input type="text" name="name" class="form-control" placeholder="Your name" required>
                    </div>
                    <div class="mb-4">
                        <input type="email" name="email" class="form-control" placeholder="Your email" required>
                    </div>
                    <div class="mb-4">
                        <input type="number" name="phone" class="form-control" placeholder="Your contact number" required>
                    </div>
                    <div class="mb-4">
                        <textarea name="query" id="" class='form-control' placeholder="How may we help you" required></textarea>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <button class="btn btn-primary text-white" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% if messages %}
        <ul class="messages mt-2">
            {% for message in messages %}
            <p class="text-white text-center">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="container mt-5">
            <h5 class="text-center">Follow us here:</h5>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/choreography.cell.3" target="_blank"><img
                        src="{% static 'images/fb.png' %}" alt="" width="60px" height="60px"></a>
                <a href="https://www.instagram.com/_choreography_club__srmgpc/" target="_blank"><img
                        src="{% static 'images/insta.png' %}" alt="" width="60px" height="60px"></a>
                <a href="https://www.youtube.com/channel/UCN9oqPsqS6tFelg6NkLDPjA/featured" target="_blank"><img
                        src="{% static 'images/yt.png' %}" alt="" width="60px" height="60px"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}