<body>
    <p>Hello <strong>{{ user }}</strong>,</p>

    <p>We are glad to inform you that your registration for <b>International Yoga Day</b> regarding event <strong>"Namaskaram : <em>Discover Your Inner Peace"</em></strong> has been confirmed by our team.<br><br>Date : 21 June, 2021<br>Day : Monday<br>Time : 6 PM onwards<br><br>The meeting link is given below :<br>https://us05web.zoom.us/j/87439260022?pwd=UERhZlU1eUlTNHdlSktaYVpNZWhCZz09<br><br>We are glad for your registration and hope to see you soon.<br><br>Know you instructor:<br>https://instagram.com/ayush_srivastava1?igshid=njgyn90vjiwz<br><br>Contact us<br>Email : <strong>choreographycell@gmail.com</strong><br>Phone : 9696712061<br><br><b>Note : E-Certificates will be provided to all the attendees</b></p><br>

    <p>Thanks,<br/><b>Team Choreography Club,</b><br/><b>SRMGPC Lucknow</b></p>
</body>