{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/volunteer.css' %}">
<title>Veterans | Choreography Club | SRMGPC</title>
{% endblock %}

{% block body %}
<div class="container-fluid px-3">
    <h1 class="text-center display-5 fw-bold mt-4">Veterans</h1>
    {% for i in controlVeteran %}
    <div class="container bg-white shadow p-2 mt-4">
        <h2 class='text-center'>{{ i }}</h2>
        <div class="row">
            {% for j in veterans %}
            {% if j.year == i.year %}
            <div class="col-lg-3 col-md-4 col-6">
                <div class="p-lg-3 p-xl-5 p-2">
                    <img src="{{ j.image.url }}" alt="" class="img-fluid rounded rounded-circle p-lg-3 p-3 shadow-sm">
                    <h2 class="text-center name mt-2">{{ j.student_name }}</h2>
                    <p class="text-center text-black-50 branch mb-2">{{ j.branch }}</p>
                    <p class="text-center mb-0 contact">Contact no.</p>
                    <h6 class="text-center number user-select-all">{{ j.phone }}</h6>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="{{ j.fb_link }}" class="mx-1"><img src="{% static 'images/fbook.png' %}" alt=""></a>
                        <a href="{{ j.linkedin_link }}" class="mx-1"><img src="{% static 'images/linked.png' %}"
                                alt=""></a>
                        <a href="{{ j.insta_link }}" class="mx-1"><img src="{% static 'images/igram.png' %}" alt=""></a>
                        <a href="{{ j.yt_link }}" class="mx-1"><img src="{% static 'images/y.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="bg-dark p-lg-5 p-3 mt-lg-5 mt-4 text-white">
    <div class="container">
        <h1 class='text-center'>Thankyou</h1>
        <p class="my-0 mt-4 text-center about fs-6">Veterans, first of all a big thankyou to each one of you for giving us a beautiful legacy
            of the choreography cell. You all are reason that we have got this cell as a legacy. You are the one who
            made it possible for giving us the luxuries of practice room. And yes definitely you all our teachers from
            whom we have learned a lot. You are reason that we got the tag of hatrick winning in Abhivyakti. No matter
            wherever you all are now busy with your life but still we all are connected together through this place. A
            big thanks to all of you and your efforts to the cell.</p>
    </div>
</div>
{% endblock %}